<p-table [value]="status" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
      <tr>
          <th>Nome do Estado</th>
          <th>Status Serviço</th>
          <th>Data de verificação</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-status>
      <tr>
          <td>{{status.nomeEstado}}</td>
          <td>{{status.statusServico}}</td>
          <td>{{status.dataVerificacao}}</td>
      </tr>
  </ng-template>
</p-table>
